<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
	<context:property-placeholder location="classpath:jdbc.properties" />
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${mysql.driver}" />
		<property name="url" value="${mysql.url}" />
		<property name="username" value="${mysql.username}" />
		<property name="password" value="${mysql.password}" />
		<property name="minIdle" value="${mysql.minIdle}" />
		<property name="maxIdle" value="${mysql.maxIdle}" />
		<property name="initialSize" value="${mysql.initialSize}" />
		<property name="maxActive" value="${mysql.maxActive}" />
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis.xml" />
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<aop:config>
		<aop:pointcut expression="execution(* com.hhr.ssi..*.*(..))"
			id="txcut" />
		<aop:advisor advice-ref="txadvice" pointcut-ref="txcut" />
	</aop:config>

	<tx:advice id="txadvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>


	<bean id="personDao" class="com.hhr.ssi.dao.impl.PersonDaoImpl">
		<property name="sqlSession" ref="sqlSession" />
	</bean>
	<bean id="personService" class="com.hhr.ssi.service.impl.PersonServiceImpl">
		<property name="personDao" ref="personDao" />
	</bean>
	<bean id="personAction" class="com.hhr.ssi.action.PersonAction">
		<property name="personService" ref="personService" />
	</bean>
</beans>